@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: theme(--color-neutral-100) theme(--color-neutral-300);

    @variant dark {
      scrollbar-color: theme(--color-neutral-900) theme(--color-neutral-700);
    }

    &::selection {
      @apply bg-neutral-700 text-neutral-100;

      @variant dark {
        @apply bg-neutral-100 text-neutral-700;
      }
    }

    @media (pointer: coarse) {
      scrollbar-width: none;
    }
  }

  body {
    @apply bg-neutral-100 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100;
  }

  #root {
    @apply flex h-screen w-full flex-col items-center justify-center;
  }
}
