@import 'tailwindcss';

@layer base {
  * {
    /* scrollbar-width: thin; */
    scrollbar-color: theme(--color-white) theme(--color-neutral-100);
  }

  #root {
    @apply flex h-screen w-full flex-col items-center justify-center bg-neutral-100 text-black;
  }

  a {
    @apply text-sky-500 hover:opacity-90;
  }
}

/* .glass-element {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */
