@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: theme(--color-neutral-100) theme(--color-neutral-100);

    @variant dark {
      scrollbar-color: theme(--color-neutral-900) theme(--color-neutral-700);
    }

    &::selection {
      @apply bg-neutral-700 text-neutral-100;

      @variant dark {
        @apply bg-neutral-100 text-neutral-700;
      }
    }
  }

  #root {
    @apply flex h-screen w-full flex-col items-center justify-center bg-neutral-100 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100;
  }
}

/* .glass-element {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */
